<configuration>
  <system.webServer>

    <!-- indicates that the hello.js file is a node.js application 
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>
    <iisnode logDirectory="iisnode" loggingEnabled="false" devErrorsEnabled="true" debuggingEnabled="true" promoteServerVars="LOCAL_ADDR" />
    <!--
    TODO: This works! I'm guessing the rewrite stuff was not working...
    -->
    <rewrite>
      <rules>
        <rule name="test">
          <match url="^rewrite*" />
          <action type="Rewrite" url="index.aspx" />
        </rule>
        <rule name="invite">
          <match url="^invite" />
          <action type="Rewrite" url="nodeapp/app.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
